.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #34855c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.summary {
  display: flex;
  text-align: justify;
  margin-top: 20px;
  color: blue;
  justify-content: center;
}

li {
  list-style-type: none;
}

.url {
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  justify-content: center;
  
}

.div-news {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 340px;
  height: 300px;
  font-size: 50%;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 0 10px;
  background-color: #74af88;
}
.div-data {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 340px;
  height: 150px;
  font-size: 50%;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 0 10px;
  background-color: #74af88;
}

.div-top {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 340px;
  height: 150px;
  justify-content: center;
  font-size: 130%;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 0 10px;
  background-color: #74af88;
}

.result {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.article {
  display: flex;
}

.category-select{
  margin-left: 20px;
}
.top-five {
  margin-left: 20px;
}

.result-data {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}